.container {
    @include flex(column, center);
    gap: 1.5rem;
    .heading {
        text-align: center;
        .title {
            color: $colorGray;
            font-weight: 300;
            margin-bottom: 1rem;
            @media (min-width: 62em) {
                font-size: 3rem;
            }
        }
        span {
            color: $colorVeryDarkBlue;
            font-weight: 700;
        }
    }
    form {
        @include flex(column, center);
        gap: 1.5rem;
        width: 100%;
        .form-control {
            width: 85%;
            max-width: 100%;
            input {
                width: 100%;
                border-radius: 2rem;
                border: 1px solid $colorPaleBlue;
                padding: 1rem 0.9rem;
                outline: none;
                @media (min-width: 62em) {
                    width: 100%;
                }
            }
            small {
                margin-top: 0.5rem;
                color: $colorLightRed;
                text-align: center;
                display: block;
                @media (min-width: 62em) {
                    margin: 0.5rem 0 0 1rem;
                    text-align: left;
                }
            }
        }
        .error {
            input {
                border: 1px solid $colorLightRed;
            }
        }
        .success {
            small {
                display: none;
            }
        }
        .notify_me {
            border-radius: 2rem;
            border: none;
            background-color: $colorBlue;
            color: #fff;
            font-weight: 700;
            box-shadow: 0 5px 5px $colorPaleBlue;
            padding: 0.9rem;
            outline: none;
            width: 85%;
            cursor: pointer;
            @media (min-width: 62em) {
                width: 30%;
                align-self: flex-start;
            }
        }
        @media (min-width: 62em) {
            @include flex(row, center);
            gap: 1rem;
        }
    }
    .illustration {
        max-width: 100%;
        margin: 3rem 0 5rem;
        padding: 0 1rem;
        @media (min-width: 62em) {
            padding: 0;
        }
    }
}